<h1>Add a Review</h1>

<form class="add-form">
    <section>
        <label for="title-input">Title:</label>
        <input id="title-input"/>
    </section>
</form>

<form>
    <section>
        <label for="review-input">Review the food</label>
        <input id="review-input"/>
    </section>
</form>

<section>
    <button type="submit">Post Review</button>
</section>

<script src="./js/addReview.js"></script>