<h1>SIGNUP</h1>

<form>
    <section>
        <label for="email-input">Email</label>
        <input id="email-input"/>
    </section>
</form>

<form>
    <section>
        <label for="username-input">Username</label>
        <input id="username-input"/>
    </section>
</form>

<form>
    <section>
        <label for="password-input">Password</label>
        <input id="password-input"/>
    </section>
</form>

<section>
    <button type="submit">SIGNUP</button>
</section>

<script src="../public/js/signup.js"></script>